spring:
  application:
    name: alert-service
  
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/capstone}
    username: ${DATABASE_USER:postgres}
    password: ${DATABASE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: ${PORT:8084}

eureka:
  client:
    enabled: ${EUREKA_ENABLED:false}
    service-url:
      defaultZone: ${EUREKA_SERVICE_URLS:http://localhost:8761/eureka/}
  instance:
    hostname: ${EUREKA_INSTANCE_HOST:localhost}
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
