server:
  port: ${PORT:8080}

spring:
  application:
    name: api-gateway
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

services:
  collector-url: ${COLLECTOR_URL:http://localhost:8091}
  analysis-url: ${ANALYSIS_URL:http://localhost:8092}

logging:
  level:
    root: INFO

---
spring:
  config:
    activate:
      on-profile: dev
  cloud:
    gateway:
      routes: []

---
spring:
  config:
    activate:
      on-profile: staging
  cloud:
    gateway:
      routes: []

---
spring:
  config:
    activate:
      on-profile: prod
  cloud:
    gateway:
      routes: []
